/* file thích ứng đối với các kích cỡ màn hình khác nhau  */
/* ipad */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .news-container {
        flex-direction: column;
    }

    .news-left-container {
        width: 100%;
    }

    .news-right-container {
        width: 100%;
        height: 200px;
    }


}

/* mobile */
@media (max-width: 46.1875em) {

    .featured-activities-box {
        width: 307px;
    }

    .title-capacity {
        font-size: 2rem;
    }

    .news-container {
        flex-direction: column;
    }


    .news-left-container,
    .news-right-container {
        width: 100%;
    }

    .news-right-container {
        height: 300px;
    }

    .news-right-item {
        width: 96%;
    }

    .news-style {
        width: 300px;
    }

    .news-title {
        font-size: 23px;
    }

    .news-handle {
        width: 80%;
    }

}